{% load static %} {% include 'leader_navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <script src="https://kit.fontawesome.com/953e8760a2.js" crossorigin="anonymous"></script>
    <title>Choin</title>

</head>

<body>
    <img id="profile" src="/static/images/me-removebg-preview.png" /><br>
    
    <div class="card" id="upload_display">
        <img id="codehive" src="/static/images/code-hive.png">
        <div class="text_display">
            {% if messages %} {% for message in messages %}
            <div>
                <strong id="msg">{{message|safe}}</strong>
            </div>
            {% endfor %}
            {% else %}
            {{order}}

            <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="student_upload_form">
                    <label for="file1"> Upload Student file</label><br>
                    <input type="file" id="file1" name="file">
                    <button id="btn_upload" type="submit">UPLOAD</button>

                </div>
            </form>
            <br>

            <form action="{% url 'trainer-upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="trainer-upload-form">
                    <label for="file2"> Upload Trainer file</label><br>
                    <input type="file" id="file2" name="file">
                    <button id="btn_upload" type="submit">UPLOAD</button>

                </div>
            </form>


            {% endif %}
        </div>

        <!-- <div class="leader_heading">
        <div class="search">
            <form method="get" action="{% url 'search_student_by_admin' %}">
                <input type="search" placeholder="Search student by first name" name="search" />
                <button type='submit' class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div> -->

        <!-- <table>
        <tr>
            <th></th>
            <th> First Name</th>
            <th> Last Name</th>
            <th>Total Choins</th>
        </tr>
        <tr>
            {% for student in students%}
            <td><img id="Image" src="/static/images/me-removebg-preview.png" />
            </td>
            <td>{{student.username}}</td>
            <td>100</td>
            {%endfor%}
        </tr>
        
    </table> -->
        <div id="row-cards">


            <div class="card2" id="card-profile">
                <h4>Redeem</h4>
                <hr>
                <p class="total-choins">
                    <i id="icon" class="fas fa-gifts fa-4x"></i>
                </p>
                <button id="btn_redeem"><a style="text-decoration:none;color:white;"
                        href="{% url 'reward' %}"> Reward</a></button>

            </div>
            <div class="card2" id="card-profile">
                <h4>Metrics</h4>
                <hr>
                <p class="total-choins">
                    <i id="icon" class="fab fa-jedi-order fa-5x"></i>
                </p>
                <button id="btn_metrics"><a style="text-decoration:none;color:white;"
                        href="{% url 'metrics' %}"> Metrics</a></button>

            </div>
            <div class="card2" id="card-profile">
                <div class="box">
                    <div class="content1">
                        <h4>Leaderboard</h4>
                        <hr>
                        <p class="total-choins">
                            <i id="icon" class="fas fa-user-graduate fa-4x"></i>
                        </p>
                        <button id="btn_full_list"><a style="text-decoration:none;color:white;"
                                href="{%url 'view_student_leaderboard'%}"> View List</a></button>
                    </div>
                </div>
            </div>
            

    </table> 


</body>

</html>

         
       