{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/akira-favicon.ico' %}">
    <title>Choin</title>
    <style>
        #error-msg{
            margin-top: 10%;
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <i class="fas fa-times"></i>
        <img id="logo" src="{% static 'images/AkiraChix-Logo.png' %}" />

        
        <div id="navItems">
        <a href="{% url 'upload' %}" class="nav">Home</a>
        <a href="{% url 'reward' %}" class="nav">Reward</a>
        <a href="{% url 'trans' %}" class="nav">Transactions</a>
        <a href="{% url 'metrics' %}" class="nav">Metrics</a>
        <a href="{% url 'add-reward-item' %}" class="nav">Add Reward Item</a>
        <a href="{% url 'leadership-profile' %}" class="nav">Profile</a>
        

    </div>
     </div>
    
</body>
<script src="{% static 'js/navbar.js' %}"></script>
</html>