{%extends 'base.html'%}
{%block content%}
<h3 style="color: #561278;">Reset password to proceed ...</h3>
{%if messages%}
    <p>messages</p>
    {%endif%}
    <form id="password_change" method="post">
        {%csrf_token%}


{% for field in form %}
    <div class="fieldWrapper">
       
        <p style="color: red;">{{ field.errors }}</p>
     
        {{ field.label_tag }}<br>
         {{ field }}<br>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
        <br><button id="button" type="submit">Submit</button>

    </form>
{%endblock%}