{% load static %} {% include 'trainer_navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'trainer_dashboard.css' %}">
    <title>Choin</title>
</head>

<body>
    <img id="profile" src="/static/images/me-removebg-preview.png" /><br>
    <h1 id="choin_available">Balance:20Choins</h1>
    <hr>
    <h3 id="title">Leaderboard
    </h3>

    <table>
        <tr>
            <th>Image
            </th>
            <th> Name</th>
            <th>Choins</th>
        </tr>
        {%for student in students%}
        <tr>
            {%if student.owner.image%}
            <td><img id="images" src="{{student.owner.image.url}}" /></td>
            {%else%}
            <td><img id="images" src="/static/images/placeholderperson.jpg" /></td>
            {%endif%}
            <td>{{student.owner.first_name}}</td>
            <td>{{student.owner.last_name}}</td>
            <td>{{ student.choinBalance }}</td>
        </tr>
        {%endfor%}
        <tr>
            <td><img id="Image" src="/static/images/me-removebg-preview.png" />
            </td>
            <td>Hunter</td>
            <td>100</td>
        </tr>
        <tr>
            <td><img id="Image" src="/static/images/me-removebg-preview.png" />
            </td>
            <td>Chantal</td>
            <td>98</td>
        </tr>
        <tr>
            <td><img id="Image" src="/static/images/me-removebg-preview.png" />
            </td>
            <td>Shadya</td>
            <td>99</td>
        </tr>
        <tr>
            <td><img id="Image" src="/static/images/me-removebg-preview.png" />
            </td>
            <td>Sarah</td>
            <td>99</td>
        </tr>

    </table>
    </div>
    </div>
</body>

</html>