{% include 'trainer_navbar.html' %}
{% load static %}
{%block content%}
<img id="mini-logo" src="{% static 'images/AkiraChix-Logo.png' %}" />
<div class="mini-header">
    <div>
        <i class="fas fa-bars menu"></i>
    </div>
    <div class="pool">
        <img src="https://bit.ly/2Zh75Ex" alt="profile-image" id="profile-image" />
        <p> Choin Balance: 200</p>
    </div>
</div>
<h3 id="heading">Leaderboard</h3>



<table>
    <tr>
        <th>Image
        </th>
        <th> Name</th>
        <th>Choins</th>


    </tr>


    <tr>
        <td><img id="Image" src="/static/images/me-removebg-preview.png" />
        </td>
        <td>Eunice Atieno</td>
        <td>100</td>


    </tr>
    <tr>
        <td><img id="Image" src="/static/images/me-removebg-preview.png" />
        </td>
        <td>Hunter Achieng</td>
        <td>98</td>


    </tr>

</table>
{%endblock%}