{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/akira-favicon.ico' %}">
    <title>Choin</title>
</head>

<body >
    
    <div id="particles-js"></div>
    <img id="logo" src="{% static 'images/AkiraChix-Logo.png' %}" />
    <hr>
    <div class="particles-home">
    <h1 id="welcome">WELCOME TO CHOIN</h1>
    <div class="login-page">
        <div class="how-to-use">
            <h2>How to Use</h2>
            <div class="timeline">
                <div class="container left">
                    <div class="content">
                        <p>
                            Create Account/ Update Details
                        </p>
                    </div>
                </div>
                <div class="container right">

                    <div class="content">
                        <p>
                            View transactions both individual and general. View leaderboard.
                        </p>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <p>
                            Reward a student, set metrics. Activate redeem.
                        </p>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <p>
                            Redeem Choins
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-form">

            <form method="POST">
                <h3>LOGIN</h3>
                {%csrf_token%} {{form.as_p}}
                <button type="submit">Log In</button><br>
            </form>


        </div>
    </div>
    
</div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- <script src ="{% static 'particles.min.js' %}"></script> -->
    <script>
        
window.particlesJS.load('particles-js', "{% static 'particles.json' %}");
        
    </script>
</body>

</html>