@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#profile {
    border-radius: 50%;
    width: 4%;
    bottom: 88%;
    margin-left: 90%;
    position: fixed;
    background-color: #000;

}
#choin_available {
    margin-left: 83%;
    color: purple;
    font-size: 15px;
    margin-top: 5.5%;
     position:relative;
   
}
#btn_upload{
    background-color: #561278;
    color: white;
    font-size: 15px;
    
    height:35px;
    margin-bottom: 70px;
    border-radius: 5px;
    width:8rem;
    margin-left: 0.9%;
    border-color: transparent;
}
table {
    width: 855px;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-collapse: collapse;
    margin-right:100px;


}
th, td {
    text-align: left;
    padding-right: 50px;
  }
  th{
      color: #561278;
      font-size: 18px;
  }
  td{
    height: 50px;
  }
  tr:nth-child(even) {background-color: #DCBEEB;}
  .type_csv{
    bottom: 10px;
}
