@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    background:linear-gradient(to right, #fff9fd, #f3dbf7);
}
#profile {
    border-radius: 50%;
    width: 4%;
    bottom: 88%;
    margin-left: 90%;
    position: fixed;
    background-color: #000;

}
#choin_available {
    margin-left: 85%;
    color: purple;
    font-size: 15px;
    margin-top: 5.5%;
    position:fixed;
   
}
#trainer_btn_upload{
    background-color: #561278;
    color: white;
    font-size: 10px;
    /* margin-top: -10%; */
    height:35px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    width:8rem;
    margin-left: 20%;
    border-color: transparent;
}

#btn_upload{
    background-color: #561278;
    color: white;
    font-size: 10px;
    /* margin-top: -10px; */
    height:35px;
    /* margin-bottom: 10px; */
    border-radius: 5px;
    width:8rem;
    margin-left: 0.9%;
    border-color: transparent;
}
table {
    width: 855px;
    margin-left: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-collapse: collapse;
    margin-right:100px;
}
th, td {
    text-align: left;
    padding-right: 50px;
  }
  th{
      color: #561278;
      font-size: 18px;
  }
  td{
    height: 50px;
  }
  tr:nth-child(even) {background-color: #DCBEEB;}
  .type_csv{
    bottom: 10px;
}

.card{
    margin-top: 0.5%;
    background-color:rgba(181, 149, 211, 0.281);
    margin-left: 25%;
    width:56rem;
    border-radius: 8px;
    height:35vh;
    position: fixed;
    
    
}
#msg{
    font-size: 10px;
    padding-bottom: 20px;
}
#codehive{
    background-color: white;
    margin-left: 2%;
    margin-top: 2%;
    
    border-radius: 5px;
    width:290px;
    height:175px;

}
::-webkit-file-upload-button {
    background:purple;
    color:white;
    border-radius: 5px;
    width: 10rem;
    height: 5vh;
    border-color: transparent;
    font-size: 16px;
   
  }
  .text_display{
      margin-left:40%;
     padding-top: 2%;
  }
  #btn_full_list{
      font-size: 15px;
    margin-top: 14%;
    margin-left:2%;
    background-color:purple;
    border-radius: 5px;
    width: 120px;
    color:white;
    height: 35px;
    border-color: transparent;
    text-decoration: none;
  
    
}
#btn_metrics{
    border-radius: 5px;
    width: 120px;
    color:white;
    height: 35px;
    margin-top: 8%;
    background-color:purple;
    border-color: transparent;
    font-size: 15px;


}
#btn_redeem{
    border-radius: 5px;
    width: 120px;
    color:white;
    height: 35px;
    margin-top: 15%;
    background-color:purple;
    border-color: transparent;
    font-size: 15px;

}
.csv_display{
    margin-left: 75%;
    }
    body {
        font-family: 'Poppins', sans-serif;
    }
    #heading{
        margin-left: 50%;
        margin-top:6%;
       
       color: #561278;
       font-weight: lighter;
        
    
    }
    
    #Image {
        border-radius: 50%;
        width: 4%;
        
    }
    #heading {
        margin-left: 50%;
        color: #561278;
        font-weight: lighter;
    }
    #file1{
        padding-top: 2%;
        /* position: absolute; */
    }
   .student-upload-form{
        margin-bottom: 2%;
    } 

    /* styling the three card3s in the admin dashboard */
    #row-cards{
        display: flex;
        padding: 2px;
        
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: 14%;
        margin-top: 6%;
    
    }
    .card2{   
       border: none;
       margin-left: 20px;
        border-radius: 20px;
        background-color:white; 
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        height: 250px;
        text-align: center;
        width: 200px;
        margin: 10px;
       color: rgb(77, 74, 74);
        
    }
    /* css search bar*/
    .search>form>input{
        width: 95%;
        padding: 10px 10px;
        color: #561278;
        border-radius: 2px;
        border: none;
        background-color: #DCBEEB;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
       
    }
      form > input:focus{
          outline: none;
      }
    .search-button{
        border: none;
        background-color: transparent;
       text-align: center;
       margin-left: 10%;
       padding: 10px 10px;
       background-color: #DCBEEB;
       border-top-left-radius: 20px;
       border-bottom-left-radius: 20px;
       
      
        
    }
    .search-button>i{
        text-decoration: none;
    }

    
/* media queries */
@media (max-width:875px){
    body{
        margin: 0;
    }
    #codehive{
        background-color: white;
        margin-left: 2%;
        margin-top: 1.4%;
        position: absolute;
        border-radius: 5px;
        width: 210px;
        height:150px;
     }
      .card{ 
         margin-top: 4%;
        background-color:rgba(238, 148, 230, 0.281);
        margin-left: 5%;
        width: 225px;
        border-radius: 8px;
        height:20vh;
         
          }
   
    #profile{
        width: 5%;
        border-radius: 50%;
        margin-left: 50%;
        margin-bottom: 20%;
    }
    #choin_available {
        margin-left:35%;
        color: purple;
        font-size: 10px;
        margin-top: 6.5%;
         position:relative;
       
    }
    table {
        width: 10px;
        margin-left: 6%;
        margin-top: 10%;
        margin-bottom: 10%;
        border-collapse: collapse;
        margin-right:2px;
        margin-right: 10px;
        font-size: 15px;
    
    
    }
    .csv_display{
        margin-left: 4%;
        margin-top: 6%;
        font-size: 15px;
        }

        

        ::-webkit-file-upload-button {
            background:purple;
            color:white;
            border-radius: 5px;
            width: 10rem;
            height: 5vh;
            border-color: transparent;
            font-size: 15px;
            margin-top: 10px;

           
          }
          .text_display{
              margin-left:2%;
             padding-top: 80%;
            
             font-size: 15px;
          }
         
        #leader{
            font-size: 20px;
            padding-top:55% ;
            margin-left: 8%;
            margin-top: 10%;
            color:purple;
            /* position: absolute; */
        }
        ::-webkit-file-upload-button {
            
            background:purple;
            color:white;
            border-radius: 5px;
            width: 8rem;
            height: 4vh;
            border-color: transparent;
            font-size: 16px;
           
          }

  th, td {
    text-align: left;
    padding-right: 20px;
  }
  .search{
    width: 60%;
}
.search>form>input{
    width: 100%;
    padding: 8px 8px;
    color: whitesmoke;
    border-radius: 2px;
    margin-left: 15%;
    border: none;
    background-color:rgb(165, 37, 177);
    border:1px solid black;
}
#row-cards{
   
    margin-left: 0%;
  
}
}
    
