@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0 0 0 20%;
    background:linear-gradient(to right, #fff9fd, #f3dbf7);
}
#mini-logo {
    display: none !important;
}
table {
    border-collapse: collapse;
    width: 150%;
    margin-top:2%;
    margin-left: 0px;
    background-color: #fff;
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
}
th,
td {
    text-align: left;
    padding: 8px;
}
th {
    color: #561278;
    font-size: 18px;
}
td {
    height: 35px;
}
tr:nth-child(even) {
    background-color: #DCBEEB;
}
#Image {
    border-radius: 50%;
    width: 4%;
    margin-bottom: 0;
    margin-top: 20px;
}
#profile {
    border-radius: 50%;
    width: 4%;
    margin-left: 70%;
    position: absolute;
    top: 0%;
    background-color: #000;
}
.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
    background-color: #BBBBBB;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #efe2f5;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}
/* #choin_available {
    margin-left: 75%;
    margin-top: 0;
    font-size: 20px;
} */
h2 {
    margin-left: 20px;
    margin-bottom: 0;
}

.top-row{
    display:flex;
    height:40%;
    width: 99%;
    
}
.column {
   margin-top:4.5%;
    width: 100%;
    margin-right: 25%;
   
   
}
/* .row:after {
    content: "";
    display: table;
    clear: both;
} */
.card {
    background-color: #DCBEEB;
    width: 70%;
    border-radius: 8px;
    opacity: 80%;
    margin-left: 5%;
    height: 80%;
    text-align: center;
}
.card-2{
    background-color: #DCBEEB;
    width: 80%;
    border-radius: 8px;
    opacity: 80%;
    margin-left: 10%;
    height: 50%;
    padding: 40px;
    text-align: center;
}
#prof {

    margin-top: 0;
    padding: 8px;
}
#img {
    border-radius: 50%;
    width: 30%;
    margin-bottom: 0;
    margin-top: 5%;
}
#proff {
    margin-left: 30px;
    margin-bottom: 0;
}
#title {
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: 10px;
}
h1{
    margin: -1% 2%;
    color: #561278;

}
.row{
    display: flex;
    width: 99%;
    
   
}
#table-heading{
    margin-left: 40%;
}
.tab>table {
    border-collapse: collapse;
    width: 190%;
    margin-top:2%;
    margin-left: 40%;
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
    background-color: #fff;
}
.tab>table>th,
.tab>table>td {
    text-align: left;
    padding: 8px;
}
.tab>table>th{
    color: #561278;
    font-size: 18px;
}
.tab>table>th {
    height: 10px;
}
.tab>table>tr:nth-child(even) {
    background-color: #DCBEEB;
    height: 10px;
}
#bell {
    color: purple;
    font-size: 30px;
}

/* h4 {
    margin-left: 40%;
} */
#delete {
    font-weight: bolder;
    padding: 4px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: white;
    padding-left: 23px;
    padding-right: 23px;
}
#read {
    background-color: purple;
    color: white;
    padding: 5px;
    border: 3px solid purple;
    border-radius: 10px;
    font-weight: bolder;
    margin-left: 50px;
    margin-right: 30px;
}
h1 {
    font-size: 20px;
    margin-left: 30px;
} 
.dropdown-content{
    height: 50%;
}
/* #profile_up {
    position: absolute;
    left: 50%;

} */
/* .prof_detail {
    padding-bottom: 0;
    margin-right: 20%;
} */
.dropbtn {
    margin-left: 80%;
    margin-right: 0;
    margin-top: 3%;
   
}

/* .dropdown {
    display: flex;
    margin-left: 60%;
    padding: 0;
} */
.dropdown-content {
    margin-left: 60%;
    line-height: 2px;
    color: rgb(59, 58, 58);
    padding: 10px;
   
}


#images{
    width: 40px;
    border-radius: 50%;
}
