@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0 0 0 20%;
}

#mini-logo {
    display: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0px;
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    color: #561278;
    font-size: 18px;
}

td {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #DCBEEB;
}

#Image {
    border-radius: 50%;
    width: 4%;
    margin-bottom: 0;
    margin-top: 20px;
}

#profile {
    border-radius: 50%;
    width: 40px;
    background-color: #000;
    margin-left: 50%;
}

#choin_available {
    margin-left: 30%;
    margin-top: 0;
    font-size: 20px;
}

h2 {
    margin-left: 20px;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

.column {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: #DCBEEB;
    width: 50%;
    border-radius: 8px;
    opacity: 80%;
    margin-left: 10px;
    height: 95%;
}

#prof {
    margin-left: 60px;
    margin-top: 0;
    padding: 8px;
}

#img {
    border-radius: 50%;
    width: 19%;
    margin-bottom: 0;
    margin-left: 80px;
}

#proff {
    margin-left: 30px;
    margin-bottom: 0;
}

#title {
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: 10px;
}

#bell {
    color: purple;
    font-size: 30px;
}

.dropdown-content {
    width: 500%;
    margin-left: 720%;
}

h4 {
    margin-left: 40%;
}

#delete {
    font-weight: bolder;
    padding: 4px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: white;
    margin-left: 80px;
    padding-left: 23px;
    padding-right: 23px;
}

#read {
    background-color: purple;
    color: white;
    padding: 5px;
    border: 3px solid purple;
    border-radius: 10px;
    font-weight: bolder;
    margin-left: 50px;
}

h1 {
    font-size: 20px;
    margin-left: 30px;
}

#profile_up {
    display: flex;
    padding: 10px;
    border: 3p solid black;
}

.prof_detail {
    margin-left: 770px;
    margin-right: 30px;
}

.dropbtn {
    margin-left: 900%;
}

#content {
    margin-left: 40px;
}