@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body{
     
    font-family: 'Poppins', sans-serif;
  
}



.menu{
    display: none !important;
}
.add-metric{
    width: 40vw;
    border: 1px solid transparent;
    height: 50vh;
    padding: 20px;
    margin-left: 30vw;
    border-radius: 5px;
    margin-top: 5%;
    background-color: #fff;
    cursor: pointer;
    box-shadow: rgb(37, 37, 37) 5px 5px 5px;
    
}
#close{
    color: #561278;
    border: 1px solid  transparent;
    padding: 7px;
    border-radius: 50%;
    background-color: #DCBEEB;
}
.metric-modal{
   
 position: fixed; /* Stay in place */
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.add-metric >form{
    color: rgb(97, 93, 93);
    font-size: 18px;
   
    padding: 0px;
}
#metric-input{
    background-color: #DCBEEB;
    width: 90%;
    border: none;
    margin-left: 1%;
    padding: 20px 10px;
    box-shadow: rgb(37, 37, 37) 2px 2px 2px;
}
#metric-value{
    background-color: #DCBEEB;
    width: 90%;
    border: none;
    margin-left: 1%;
    padding: 20px 10px;
    box-shadow: rgb(37, 37, 37) 2px 2px 2px;
}
#metric-value:focus{
    outline: none;  
}
.add-metric >form>h3{
    text-align:center;  
    margin-top:-2%;
    
}
#close-modal{
    width: 94%;
    border: none;
    padding: 15px 10px;    
    background-color: #561278;
    color: #fff;
    border-radius: 2px;
    margin-left: 1%;
    font-size:18px;
    box-shadow: rgb(37, 37, 37) 2px 2px 2px;


}
@media (max-width:875px){
    body{
        margin: 0;
    }
   
    .add-metric{
        width: 50vw;
        height: 40vh;
        padding: 30px;
        margin-left: 15vw;          
        
    }
    #metric-value, #metric-input{      
        width: 100%;        
        margin-left: 0%;
        
    }
    .add-metric >form{
      margin-left: -10%;      
        padding: 10px;
    }

    #close-modal{
        width: 110%;   
    
    }
}