@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#welcome{
    margin-left: 10%;
    margin-bottom: -5%;
    font-size: 50px;
    opacity: 0.8;
}
#logo{
    width: 20%;
}
h2{
    margin-left: 40%;
    color: #561278;
    
}
.login-page{
    display: flex;
    justify-content: space-evenly;
  
}
.how-to-use{
    width: 50%;
    margin-top: 60px;
    padding: 20px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto; 
  
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #1f2020;
  top: 0;
  bottom: 0;
  height: 33.3vh;
  left: 50%;
  /* margin-left: -1px; */
}

.container {
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 28px);
  right: 48px;
  background: #561278;
  /* border: 2px solid #1f2020; */
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: 50px;
}

.container::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  top: calc(50% - 22px);
  right: -2px;
  background: #131414;
  z-index: 1;
}

.container.right::before {
  left: 1px;
}


.container.right .content {
  padding: 10px 30px 20px 0px;
  margin-left: 30%;
 
}
.container.left .content {
    padding: 0px 30px 0px ;
    margin-right: 10%;
   
  }


.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}



/* form */
h3{
    color: #561278;
    text-align: center;
}
.login-form{
    width: 35%;
    border: solid 1px #decee2;
    padding: 60px 25px;
    background-color: #decee2;
    box-shadow: 5px 1px 5px #ccaadd ;

}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
}
button {
    background-color: #561278;
    color: white;
    padding: 14px 20px;
    margin: 10px 20px;
    border: none;
    cursor: pointer;
    width: 90%;
    font-size: 16px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  @media (max-width: 850px) {
    .timeline::after {
      left: -80px;
      height: 63vh;
      top: 6.5%;
    }
  
    .container {
      width: 100%;
      /* padding-left: 50px;
      padding-right: 30px; */
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after, 
    .container.right::after {
      left: -18px;
    }
  
    .container.left::before,
    .container.right::before {
      left: -80px;
      
    } 
    
    .container.right .content {
      padding: 10px 30px 30px 0px;
      
    }
    .container.left .content{
      padding: 10px 30px 30px 50px;
    }
    #welcome{
        font-size: 20px;
        margin-left: 20%;
    }
    .login-page{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
             
    }
    h2{
        margin-left: 10%;
        color: #561278;
        
    }
    .login-form{
        margin-top: 10%;
        width: 80%;
        padding: 10px 25px;
    
    }
    button{
        margin: 5px 9px;
    }
  }
  