@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
   margin: 0;
   font-family: 'Poppins', sans-serif;
}
#logo{
    width: 250px;
    height:90px;
    z-index:1;
    background-color: #fff;
    margin-top: -3.5%;
}

.sidebar{
   position: fixed;
   width: 250px;
   top:0;
   left: 0;
   bottom: 0;
   background-color:#8c12ad;
   /* background-color:purple; */
   padding-top: 10px;
   box-shadow: #4b1666 3px 3px 3px ;
   
   
}

.sidebar h1{
   display: block;
   padding: 40px 50px;
   color: #fff;
   text-decoration: none;
   letter-spacing: 2px;
   font-weight: 400;
   margin: 0%;
   font-size: 25px;
   text-transform: uppercase;
}

.sidebar .nav{
   display: block;
   padding: 20px 20px;
   /* color: rgb(97, 93, 93); */
   color: #fff;
   text-decoration: none;
   font-family:'Montserrat', sans-serif;
   letter-spacing: 2px;
   margin: 2% 0%;
}


.sidebar .nav:hover, .active{
   color: #fff; 
   width:210px;
   background-color:#4b1666;
   transition: 0.8s ease-out;
}
.sidebar >.fa-times{
   margin-left: 90%;
   cursor: pointer;
   display: none !important;
}
/* hr{
    background-color:black;
    height: 0.2px;
    width:1320px;
} */
@media (max-width:875px){
   .sidebar{
      display:none;
   }
   
    .sidebar >.fa-times{
      margin-left: 90%;
      display: inline !important;
   }
}