.grid {
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.grid>article {
    background-color: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}

.grid>article:hover {
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px(rgba(0, 0, 0, 0.3));
}

.grid>article img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text {
    padding: 0 20px 20px;
    margin-right: 40px;
}

@media(max-width:768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:500px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid>article {
        text-align: center;
    }
}

button {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.container {
    margin-left: 20%;
    margin-top: 0;
}

h3 {
    color: purple;
    margin-right: 90px;
}

#coffee {
    height: 170px;
}

#pizza {
    height: 170px;
}

#prof {
    border-radius: 50%;
    margin-left: 85%;
    width: 50px;
    height: 70px;
}

#heading {
    margin-left: 79%;
    margin-bottom: 0;
}

#redeem {
    margin-bottom: 0;
    margin-left: 27%;
    color: purple;
    margin-bottom: 10px;
}