@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body{
    margin: 0 0 0 20% ;    
   
}
#mini-logo{
    display: none !important;
}
.menu{
    display: none !important;
}
.pool{
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}
.pool>p{
    font-weight: bold;
    color: #561278;
}
#profile-image{
    width: 30%;
    border-radius: 50%;
    margin-left: 40%;
}
.reward-heading{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.reward-heading >h1{
    margin-top: -2.5%;
    color: #561278;
}


#row-reward{
    display: flex;
    
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 20px;

}
.card{   
   border: none;
    border-radius: 20px;
    background-color: #eee5e9; 
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    height: 270px;
    text-align: center;
    width: 200px;
    margin: 10px;
   color: rgb(77, 74, 74);
    
}
#image-reward{
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#quantity{
    border: none;
    width: 5%;
    background-color: transparent;
}
.text-dark{
    border: none;
    width: 20%;
    background-color: transparent;
}
#heading{
    color:#561278;
}

.text {
    padding: 0 20px 20px;
    margin-right: 40px;
}
.fa-shopping-cart{
    color: #8a7f8f;
    margin-left: 5%;
}
.cart-notf{
    color: #8a7f8f;
    font-size:20px;
    position: absolute;
    top: 5%;
    right: 12%;
    
}
.fa-shopping-bag{
    color: #8a7f8f;
    margin-left: 5%;
}
.close{
    color: #561278;
    margin-left: 90%;
    font-size: 18px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: gray 2px 2px 2px;
}
.purchase-modal{
    display: none ;
 position: fixed; /* Stay in place */
  z-index: 1;
  left: 19.5%;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.purchase{
    width: 60%;
    border: none;
    background-color: #fff;
    padding: 30px;
    height: 100%; 
}
#item-image{
    width: 50px;
    height: 50px;
}
table {
    border-collapse: separate;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    border-spacing:0 15px;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th{
      color: #561278;
      font-size: 18px;
  }
  td{
    height: 50px;
   
  }
  tr {background-color: #DCBEEB;
    border-radius: 10px;
   
  }

button {
    background-color: black;
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.container {
    margin-left: 20%;
    margin-top: 0;
}


#redeem {
    margin-bottom: 0;
    margin-left: 27%;
    color: purple;
    margin-bottom: 10px;
}
@media (max-width:875px){
    body{
        margin: 0;
    }
    #mini-logo{
        display: inline !important;
        width: 30%;
        margin: 2%;
       
    }
    .menu{
        display: inline !important;
        color: #561278;
        font-size: 20px;
        padding-top: 10px;
        cursor: pointer;
    }
    .mini-header{
        display: flex;
        margin: 0 5%;
        justify-content: space-evenly;
    }
    .pool{
        margin-left: 50%;
        width: 50%;
    }
    #profile-image{
       
        margin-left: 70%;
    }
    .pool>p{
        font-size: 13px;
        margin-left: 15%;
    }
    .reward-heading{
        flex-direction: column;
       
    }
    .card{       
         width: 250px;        
         
     }
     #row-reward{
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: 15%;
        
    
    }
}