@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body{
    margin: 0 0 0 20% ;    
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(to right, #fff9fd, #f3dbf7); 
    
}
#mini-logo{
    display: none !important;
}
.menu{
    display: none !important;
}
.pool{
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}
.pool>p{
    font-weight: bold;
    color: #561278;
}
#profile-image{
    width: 30%;
    border-radius: 50%;
    margin-left: 40%;
}
.reward-heading{
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}
.reward-heading >h1{
    margin-top: -4.5%;
    color: #561278;
}
.reward-heading >button{
    background-color: #561278;
    color: #fff;
    border-radius: 2px;
    border: none;
    width: 20%;
    padding: 10px 10px;
    margin-left: 20%;
    margin-top: 0%;
    cursor: pointer;
    border-radius: 5px;

}
#item-list > a{
    color: #fff;
    text-decoration: none;
      }
#redeem-item{
    width: 100%;
    height: 200px;
    margin-left: 15%;
    margin-top: 2%;

}
.item{
    display: flex;
}
form{
    width: 60%;
    border: 1px solid #ccc;
    padding: 20px 20px;
    margin-left:5%;
    margin-top: -2%;
    border-radius: 10px;
    background-color: #efe6f3;
    box-shadow: gray 5px 5px 5px ;
}

input[type=text], input[type=number]{
 width: 100%;   
  padding: 10px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  
}
input:focus{
    outline: 1px solid #561278;
}
input[type=file]{
width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}
#submit{
    width: 50%;
    background-color: #561278;
    color: white;
    padding: 10px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: gray 3px 3px 3px;
}
.image-buttons>form{
    background-color: transparent;
    border:none;
    width: 50%;
    box-shadow: none;
    display: flex;
}
.image-buttons>form> .activations{
    background-color: #a255c9;
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5%;
    box-shadow: rgb(83, 82, 82) 2px 2px 2px ;
    
}
.image-buttons>form>.activations:hover{
    background-color: rgb(151, 148, 148);
    box-shadow: rgb(83, 82, 82) 2px 2px 2px ;
}
#activate{
    margin-left: 15%;
    color: #561278;
}

@media (max-width:875px){
    body{
        margin: 0;
    }
    #mini-logo{
        display: inline !important;
        width: 30%;
        margin: 2%;
       
    }
    .menu{
        display: inline !important;
        color: #561278;
        font-size: 20px;
        padding-top: 10px;
        cursor: pointer;
    }
    .mini-header{
        display: flex;
        margin: 0 5%;
        justify-content: space-evenly;
    }
    .pool{
        margin-left: 60%;
        width: 50%;
    }
    #profile-image{
       
        margin-left: 70%;
    }
    .pool>p{
        font-size: 13px;
        margin-left: 15%;
    }
    .reward-heading{
        flex-direction: column;
       
    }
    #redeem-item{
        display: none;
    
    }
    form{
        width: 75%;
    }
    .reward-heading >h1{
        font-size: 16px;
    }
    .reward-heading >button{
       
        width: 30%;
        padding: 10px 10px;
        margin-left: 5%;   
    
    }
    .item{
        flex-direction: column;
    }
    #activate{
        margin-left: 5%;      
    }
    .image-buttons>form> .btn-primary{
        margin-left: -6%;

    }
}