@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body{
    margin: 0 0 0 20% ; 
   
    
}
hr{
    margin-top: 6%;
    border-color: #c79add;
   
}
.reward_confirm{
    border: 1px solid transparent;
    width: 88%;
    height: 70%;
    margin: 2%  0%;
    padding: 20px 0px;
    margin-left: 5%;
    align-items: center;
    border-radius: 10px;
    box-shadow: #5d5c5e 5px 5px 5px 2px;
    background-color: #efe6f3;
}
.pool{
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}
#profile-image{
    width: 30%;
    border-radius: 50%;
    margin-left: 40%;
}
#mini-logo{
    display: none !important;
}
.menu{
    display: none !important;
}


.student-details{
    margin-left: 23rem;  
    
}
.reward-popup{
    display: none ;
    position: fixed; /* Stay in place */
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%; 
     height: 100%; 
     overflow: auto; 
     background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0,0.4); 
   }
.reward-details{
    width: 30vw;
    border: 1px solid transparent;
    height: 30%;
    padding: 20px;
    color: #6a626e;
    text-align: center;
    margin-left: 40vw;
    border-radius: 5px;
    margin-top: 10%;
    background-color: rgb(207, 198, 198);
    cursor: pointer;
    box-shadow: rgb(37, 37, 37) 5px 5px 5px;
}
.student-details >img{
    width: 25%;
    height:20%;
    border-radius: 100%;

}
.student-details> h2{
    color: #561278;
}
.metric{
    margin-left: 30%;
    color: rgb(97, 93, 93);
    padding:20px ;
}
.metric-choice>form  > select{
    margin: 0 3%;
    width: 30%;
    padding: 10px;
    border:none;
    background-color: #DCBEEB;
    border-radius: 5px;
    box-shadow: #413a44 2px 2px 2px;
   
}
.value{
    margin: 4% auto;
}
.value > p{
    margin: -5% 12.5%;
    width: 28.3%;
    padding: 10px 5px;
    border:none;
    border-radius: 5px;
    background-color: #DCBEEB;
    box-shadow: #413a44 2px 2px 2px;
}
.submit{
    width: 80%;
    display: flex;
    margin-left: 10%;
    justify-content: space-evenly;
}


#submit{
    width: 100%;
    border: none;
    background-color: #561278;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: #413a44 2px 2px 2px;
}
#submit:hover{
    color: #561278;
    background-color: #ebe3ee;
    box-shadow: #7c4797 5px 5px 5px;;
}
#cancel{
    width: 30%;
    border: none;
    background-color: #ebe3ee;
    color: #dd3b3b;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #413a44 2px 2px 2px;
}
#cancel:hover{
    color: #ebe3ee;
    background-color: #dd3b3b;
    box-shadow: #7c4797 5px 5px 5px;
    }
#button{
width: 30%;
border: none;
background-color: #561278;
color: #fff;
margin: 5% 12.5%;
padding: 10px;
border-radius: 5px;
cursor: pointer;
box-shadow: #413a44 2px 2px 2px;
}
#button:hover{
background-color: #413a44;
box-shadow: #7c4797 5px 5px 5px;
}
@media (max-width:875px){
    body{
        margin: 0;
    }
    #mini-logo{
        display: inline !important;
        width: 30%;
        margin: 5%;
       
    }
    .menu{
        display: inline !important;
        color: #561278;
        font-size: 20px;
        padding-top: 10px;
        cursor: pointer;
    }
    .mini-header{
        display: flex;
        margin: 0 5%;
        justify-content: space-evenly;
    }
    .pool{
        margin-left: 70%;
        width: 30%;
    } 

    .reward_confirm{     
      height: 30%;
        margin: 5%;
        align-items: center;
        justify-content: center;
    
   }
    .student-details{
        margin-left: 4rem;
        margin-top:1rem;
        width: 100%;
    }
    .student-details >img{
       margin-left: 15%;
    
    }
    .metric{
        margin-left: 10%;
        /* width:  100%; */
    }
    .metric-choice>form  > select{
        margin: 2% 3%;
        width: 80%;       
    }
    .value{
        margin: 4% auto;
    }
    .value > p{
        margin: 5% 3%;
        width: 75%;
        
    }
    .submit > form > button{
        width: 80%;
        border: none;
        margin: 5% 3%;
       
    }
    .reward_confirm> p{
        font-size: 16px;
        margin-left: 55%;
       
    }
    .reward-details{
        margin-left: 20vw;
        margin-top: 30%;
        width: 50%;
        height: 20%;
    }
}