@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
body{
    margin: 0 0 0 20% ; 
    background:linear-gradient(to right, #fff9fd, #f3dbf7);
    
   
}
#mini-logo{
    display: none !important;
}
.menu{
    display: none !important;
}
.pool{
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}
.pool>p{
    font-weight: bold;
    color: #561278;
}
#profile-image{
    width: 30%;
    border-radius: 50%;
    margin-left: 40%;
}
.reward-heading{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}
.reward-heading >h1{
    margin-top: -0.5%;
    color: #561278;
}
.search{
    width: 40%; 
    
}
#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: gray 2px 2px 2px;
    object-fit: cover;
}
form{
    display: flex;
}
.search>form>input{
    width: 95%;
    padding: 10px 10px;
    color: #561278;
    border-radius: 2px;
    border: none;
    background-color: #DCBEEB;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
   
}
  form > input:focus{
      outline: none;
  }
.search-button{
    border: none;
   
   text-align: center;
  
   padding: 10px 10px;
   background-color: #DCBEEB;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   
  
    
}
.search-button>i{
    text-decoration: none;
}
.fas{
    color: #561278;
  
    
    
}
table {
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
    background-color: #fff;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  th{
      color: #561278;
      font-size: 18px;
  }
  td{
    height: 50px;
  }
  tr:nth-child(even) {background-color: #DCBEEB;} 

.btn{
    background-color: #561278;
    color: #fff;
    border-radius: 2px;
    border: none;
    width: 50%;
    padding: 10px 10px;  
    text-decoration: none;
    font-size: 16px;

}
.pagination{
    margin-left: 70.5%;
    margin-top: 2%;
}

#reward-student{
    background-color: #561278;
    border-radius: 5px;
    border: none;
    width: 40%;
    padding: 10px;
  }
  #reward-student > a{
color: #fff;
text-decoration: none;
  }
#reward-student:hover{
background-color: #413a44;
box-shadow: #7c4797 5px 5px 5px;
}
@media (max-width:875px){
    body{
        margin: 0;
    }
    #mini-logo{
        display: inline !important;
        width: 30%;
        margin: 2%;
       
    }
    .menu{
        display: inline !important;
        color: #561278;
        font-size: 20px;
        padding-top: 10px;
        cursor: pointer;
    }
    .mini-header{
        display: flex;
        margin: 0 5%;
        justify-content: space-evenly;
    }
    .pool{
        margin-left: 60%;
        width: 50%;
    }
    #profile-image{
       
        margin-left: 70%;
    }
    .pool>p{
        font-size: 13px;
        margin-left: 15%;
    }
    .reward-heading{
        flex-direction: column;
       
    }
    .search{
        width: 100%;
        
    }
   
    form{
        margin-left: -10%;
    }
    .pagination{
        margin-left: 20.5%;
        margin-top: 5%;
    }
    #reward-student{
        width: 100%;
        padding: 10px;
      }
     
}