@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0 0 0 20%;
}

#mini-logo {
    display: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 0px;
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    color: #561278;
    font-size: 18px;
}

td {
    height: 50px;
}

tr:nth-child(even) {
    background-color: #DCBEEB;
}

#Image {
    border-radius: 50%;
    width: 4%;
    margin-bottom: 0;
    margin-top: 20px;
}

#profile {
    border-radius: 50%;
    width: 4%;
    bottom: 88%;
    margin-left: 90%;
    background-color: #000;
}

#choin_available {
    margin-left: 75%;
    margin-top: 0;
    font-size: 20px;
}

h2 {
    margin-left: 20px;
    margin-bottom: 0;
}

h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: #DCBEEB;
    width: 50%;
    border-radius: 8px;
    opacity: 80%;
    margin-left: 10px;
    height: 85%;
}

#prof {
    margin-left: 60px;
    margin-top: 0;
    padding: 8px;
}

#img {
    border-radius: 50%;
    width: 19%;
    margin-bottom: 0;
    margin-left: 80px;
}

#proff {
    margin-left: 30px;
    margin-bottom: 0;
}

#title {
    margin-bottom: 0;
    margin-top: -20px;
    margin-left: 10px;
}