@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#mini-logo{
    display: none !important;
}
.menu{
    display: none !important;
}
#Image{
    border-radius: 50%;
    width:4%;

}
.pool{
    display: flex;
    flex-direction: column;
    margin-left: 80%;
}
.pool>p{
    font-weight: bold;
    color: #561278;
}
#profile-image{
    width: 30%;
    border-radius: 50%;
    margin-left: 40%;
}
#heading{
    padding-left: 50%;
    color:#561278;
    font-weight: lighter;
    margin-top: 5%;
    

}
     
#profile{
    border-radius: 50%;
    width:4%;
    bottom: 88%;
    margin-left: 90%;
    position: absolute;
    background-color: #000;
    
}
#choin_balance{
   margin-left:83%;
   color:purple;
   font-size: 20px;
   top:9%;
   position: absolute;
}
table{
    width: 900px;
    margin-left: 25%;
    margin-top: 8%;
    margin-bottom: 8%;
    border-collapse: collapse;

}
th, caption{
    text-align: left;
    color:purple;
    font-weight: lighter;
    font-size: 20px;

}

th, td{
    padding-left: 60px;
    font-family: 'Poppins', sans-serif;
    

}
tr:nth-child(even){
    background-color:#c4c4c4;
    opacity: 61%;
}
tr:nth-child(odd){
    background-color:white;
}
@media (max-width:875px){
    body{
        margin: 0;
    }
    #mini-logo{
        display: inline !important;
        width: 30%;
        margin: 2%;
       
    }
    .menu{
        display: inline !important;
        color: #561278;
        font-size: 20px;
        padding-top: 10px;
        cursor: pointer;
    }
    .mini-header{
        display: flex;
        margin: 0 5%;
        justify-content: space-evenly;
    }
    .pool{
        margin-left: 60%;
        width: 50%;
    }
    #profile-image{
       
        margin-left: 70%;
    }
}