{% include 'student_navbar.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'redeem.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/953e8760a2.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/akira-favicon.ico' %}">
    <title>Choin</title>
</head>

<body>
    <img id="mini-logo" src="{% static 'images/AkiraChix-Logo.png' %}" />
    <div class="mini-header">
        <div>
            <i class="fas fa-bars menu"></i>
        </div>
        <div class="pool">
            <img src="https://bit.ly/2Zh75Ex" alt="profile-image" id="profile-image" />
            <p> Choin Balance: 200</p>
        </div>
    </div>
    <div class="reward-heading">

        <h1>Redeemable Items</h1>
        
    </div>
    <!-- <div class="container">
        <main class="grid">
            <article>
                {%for item in reward_items%}
                <img src="" id="coffee">
                <div class="text">
                    <p>{{item.item_name}}<button>+</button>1<button>-</button></p>
                    <h3>{{item.item_value}}</h3>
                </div>
                {%endfor%}
            </article> -->
<div class="grid">
    <div  id="row-reward">
        {%for item in reward_items%}
        <div  class="card-column">
            <div class="card" id="card-profile">
                <img alt="redeemable-item" src="{{item.image.url}}">

                <div class="card-body">
                    
                    <h3 class="card-title">{{item.item_name}}</h3>
                    <button class="btn plus-btn" type="button">+</button>
                        <input type="text" id="quantity" value="1">
                        <button class="btn minus-btn disabled" type="button">-</button>
                    
                    <!-- <h6 class="card-title">{{item.item_value}}</h5> -->
                    <hr>
                    </p>

                    <p class="total-choins">
                        <span><i class="fas fa-rupee-sign" style="color: black;"></i></span>
                        <label>Choins:</label>
                        <input id="choins" class="text-dark" value="{{item.item_value}}">
                    </p>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
    <!-- <article>
                <img src="{% static 'images/Pizza.jpeg' %}" alt="" id="pizza">
                <div class="text">
                    <p>Pizza<button>+</button>1<button>-</button></p>
                    <h3>50Choins</h3>
                </div>
            </article>
            <article>
                <img src="{% static 'images/cupcake.jpeg' %}" alt="">
                <div class="text">
                    <p>Cakes<button>+</button>1<button>-</button></p>
                    <h3>15Choins</h3>
                </div>
            </article>
            <article>
        </main>
        <main class="grid">
            <article>
                <img src="{% static 'images/colacola.jpeg' %}" alt="">
                <div class="text">
                    <p>Soda<button>+</button>1<button>-</button></p>
                    <h3>20Choins</h3>
                </div>
            </article>
            <article>
                <img src="{% static 'images/laptop.jpeg' %}" alt="">
                <div class="text">
                    <p>Laptop<button>+</button>1<button>-</button></p>
                    <h3>200Choins</h3>
                </div>
            </article>
            <article>
                <img src="{% static 'images/KFC.jpg' %}" alt="">
                <div class="text">
                    <p>KFC<button>+</button>1<button>-</button></p>
                    <h3>100Choins</h3>
                </div>
            </article>
            <article> -->
    <!-- </main> -->
    <!-- </div> -->

    <script src="{% static 'js/redeem.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>

</body>

</html>