{% include 'student_navbar.html' %}{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%for item in reward_items%}

    <div class="card" id="card-profile">
        <table>
            <tr>
                <td><img style="width: 100%;" src="{{item.image.url}}"></td>
                <td><button class="btn plus-btn" type="button">+</button><input type="text" id="quantity" value="1">
                    <button class="btn minus-btn disabled" type="button">-</button></td>
                <td>{{item.item_value}}</td>
            </tr>
        </table>
    </div>
    {%endfor%}
</body>

</html>