{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <div class="card">
        <i class="fa fa-check-circle" style="font-size:48px;color:purple"></i>
        <h2>Transaction successful</h2>
        <div>You have successfully redeemed 
            <ul>
            {% for item in order %}
            <li> {{ item.quantity }} {{item.reward.item_name}}</li>
            {% endfor %}
        </ul>
        
             for {{ order.calculate_cart_total}}</div>
        <a href="{% url 'my_items' %}"><button id="close">Ok</button></a>
    </div>
    <script src="{% static 'js/redeem.js' %}"></script>

</body>

</html>