{% include 'student_navbar.html' %}{% load static %}
<!-- {% load cart %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'redeem.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/953e8760a2.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'images/akira-favicon.ico' %}">
    <title>Choin</title>
</head>

<body>

    <img id="mini-logo" src="{% static 'images/AkiraChix-Logo.png' %}" />
    <div class="mini-header">
        <div>
            <i class="fas fa-bars menu"></i>
        </div>
        <div class="pool">
            <i class="fas fa-shopping-cart cart-notf"></i>
            <p>{{cartItems}}</p>
            <img src="https://bit.ly/2Zh75Ex" alt="profile-image" id="profile-image" /> {% for b in bal %}

            <h3 id="heading">Balance:{{ b.choinBalance }}</h3>

            {% endfor %}
        </div>
    </div>
    <div class="reward-heading">

        <h1>Redeemable Items</h1>

    </div>
    <div id="row-reward">
        {%for item in reward_items%}

        <div class="card" id="card-profile">
            <img id="image-reward" alt="redeemable-item" src="{{item.image.url}}">
            <h3 class="card-title">{{item.item_name}}</h3>
            <!-- <button class="btn plus-btn" type="button">+</button>
                        <input type="text" id="quantity" value="1">
                        <button class="btn minus-btn" type="button">-</button> -->
            <hr>


            <p class="total-choins">
                <label>Choins: {{item.item_value}}</label>

                <!-- <input id="choins" class="text-dark" value="{{item.item_value}}"> -->
                <i data-product={{item.id}} data-action="add" class="fas fa-shopping-cart update-cart"></i>
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-bag"></i></a>
            </p>
        </div>
        {%endfor%}
    </div>


    <script src="{% static 'js/redeem.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>


</body>

</html>