{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/f2db061d7e.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/akira-favicon.ico' %}">
    <title>Choin</title>
    <style>
       
    </style>
</head>
<body>
    <div class="sidebar">
        <i class="fas fa-times"></i>
        <img id="logo" src="{% static 'images/AkiraChix-Logo.png' %}" />
        <div id="navItems">
            <a href="{%url 'student_dashboard'%}" class="nav">Home</a>
            <a href="{% url 'redeem' %}" class="nav">Redeem</a>
            <a href="{% url 'student_transactions' %}" class="nav">Transactions</a>
            <a href="{% url 'student-profile' %}" class="nav">Profile</a>
        </div>
    </div>
    {%block content%} {%endblock%}
</body>
<script src="{% static 'js/navbar.js' %}"></script>
<script>
    /* When the user clicks on the button,
                        toggle between hiding and showing the dropdown content */
    function myFunc() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>
</html>